body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}

h1 {
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tablink {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
}

.tablink:hover {
    background-color: green;
}

.tabcontent {
    display: none;
}

input,
textarea {
    display: block;
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: green;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.header-logo {
	width: 20%;
	height: 100px;
	float: left;
}

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

a {
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    font-weight: 400;
}

ul {
    display: inline;
    font-size: 20px;
    margin-top: 25px;
}

ul li {
    display: inline-block;
    margin: 10px;
    margin-top: 5px;
}

.header {
	width: 100%;
	height: 35px;
	position: absolute;
	top: 0;
	left: 0;
}

.logo {
	width: 10%;
	height: auto;
    position: absolute;
    margin-top: 40px;
}